{% extends 'base.html' %}
{% block content %}

    <div class ="container">
        <form class="form-inline my-2 my-lg-0" action="/test" method="POST">
            <input class="form-control mr-sm-2" type="text" placeholder="Name" name="name">
            <button type="submit" class="btn btn-secondary">Add Name</button>
        </form>

        <br/>

        <ul class="list-group">
            {% for obj in objs %}
                <a class="list-group-item list-group-item-action ">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{obj.name}}</h5>
                        <small>ID: {{obj.id}}</small>
                    </div>
                    <p class="mb-1">Descripción: adonec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <small>Fecha Creado: {{obj.date_created}}</small>
                </a>    
            {% endfor %}
        </ul>
        
    </div>

{% endblock %}

